body {
    background-color: darkslategrey;
  }
  .container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  form {
    margin: auto;
    width: 500px;
    height: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .input {
    width: 90%;
    height: 45px;
    background-color: #202020;
    outline: none;
    padding-left: 10px;
    border-radius: 10px;
    border: none;
    color: #f1f1f1;
    margin: 6px 0 ;
  }
  .submit {
    width: 90%;
    height: 40px;
    background-color: #665DFE;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
  .errMessage{
    color: red;
  }
  .tootltipBox {
    font-size: 15px;
    width: 100px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px;
    display: none;
  }
  .tooltip {
    position: absolute;
 
    font-size: 10px;
    text-align: center;
    background-color: #fff;
    display: flex;


  }
  .child {
    font-size: 15px;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
  }
  .active {
background-color: goldenrod;
  }

  
  